<a href="https://colab.research.google.com/github/AndreassOlsson/Basic-AI-ML-exploration/blob/main/Numpy_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy Assignment

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
dT = pd.read_csv('/content/drive/MyDrive/Assignments/1/Dummytracks.csv')

In [ ]:
dT.head()

,id,trackName,artistName,albumName,populartySong,genres,populartyArtist
0,63,Riot,Säkert!,Facit,73,"['emo rap', 'miami hip hop']",92
1,50,Someone Like You,Billie The Vision & The Dancers,Someone Like You,79,"['british soul', 'pop', 'pop soul', 'uk pop']",85
2,19,Hon dansar vidare i livet,Hov1,Gudarna på Västerbron,62,"['swedish idol pop', 'swedish pop', 'swedish p...",72
3,21,Hornstullsstrand,Hov1,Vindar på Mars,60,"['swedish idol pop', 'swedish pop', 'swedish p...",72
4,20,Dö ung,Hov1,Vindar på Mars,56,"['swedish idol pop', 'swedish pop', 'swedish p...",72

In [ ]:
# Get populartySong, artistName, populartyArtist as np arrays
trackRating = np.array(dT["populartySong"])
artist = np.array(dT["artistName"])
artistRating = np.array(dT["populartyArtist"])

In [ ]:
# Get mean of np arrays
tR_mean = np.mean(trackRating)
aR_mean = np.mean(artistRating)

In [ ]:
# Create a numpy array with artists whose pop rating >= 70
tA_df = dT.loc[dT['populartyArtist'] >= 70]
topArtists = sorted(set(np.array(tA_df['artistName'])))
topArtists

['Billie The Vision & The Dancers', 'Hov1', 'Säkert!', 'Victor Leksell']

In [ ]:
# Good tracks by good artists
tT_df = dT.loc[dT['populartySong'] >= 70]
topTracks = sorted(set(np.array(tT_df['trackName'])))

topArtists_tracks = sorted(set(np.array(tA_df['trackName'])))

topTracks_by_topArtists = np.intersect1d(topTracks, topArtists_tracks)
topTracks_by_topArtists

array(['Riot', 'Someone Like You', 'Svag'], dtype='<U25')

In [ ]:
# Trackratings for every top artist
for artist in topArtists:
  allTracks = dT.loc[dT['artistName'] == artist]

  # Above 70 rating
  artist_topTracks = allTracks.loc[allTracks['populartySong'] >= 70]

  # Mean of tracks
  artist_tracks_mean = np.mean(allTracks['populartySong'])

  print(f'{artist}, No. top tracks: {len(artist_topTracks)}, Mean track rating: {artist_tracks_mean}\n')

Billie The Vision & The Dancers, No. top tracks: 1, Mean track rating: 48.0

Hov1, No. top tracks: 0, Mean track rating: 58.0

Säkert!, No. top tracks: 1, Mean track rating: 43.0

Victor Leksell, No. top tracks: 1, Mean track rating: 67.0

# Pandas Assignment

In [ ]:
t = pd.read_json('/content/drive/MyDrive/Assignments/1/Tracks.json')
t

,artist,album,track
0,Linus Hasselberg,"Granada, Granada",Lila grusvägen vid Río Genil
1,Matisyahu,Youth,Jerusalem
2,Lord Huron,Strange Trails,Fool for Love
3,Charlie Cunningham,Minimum,Minimum
4,Birdy,Live in London,The a Team - Live at the Tabernacle
...,...,...,...
955,LIAMOO,Broken Hearted,Broken Hearted
956,Bastille,Bad Blood,These Streets
957,Dan Caplen,Love Me the Same,Love Me the Same
958,Mac Miller,Donald Trump - Single,Donald Trump
959,Of Monsters and Men,My Head Is An Animal,Little Talks

In [ ]:
# The artists with the 10 most tracks
t['artist'].value_counts().iloc[:10]

Bastille                   44
Imagine Dragons            20
Macklemore & Ryan Lewis    17
Avicii                     16
Thomas Stenström           16
The Goo Goo Dolls          15
Anna Ternheim              13
Hov1                       13
Lars Winnerbäck            11
Bo Kaspers Orkester         9
Name: artist, dtype: int64

In [ ]:
# ALl albums with 5 or more tracks and their amount
s = t['album'].value_counts()
s = s[s >= 5]
print(s)

All This Bad Blood                        25
Night Visions                             20
The Heist                                 17
Greatest Hits Volume One - The Singles    14
Bad Blood                                 14
Rör inte min kompis!                      12
TIM                                       12
Vindar på Mars                             9
What I did                                 6
27                                         5
Så mycket Bo Kaspers Orkester              5
Name: album, dtype: int64

In [ ]:
tD = pd.read_csv('/content/drive/MyDrive/Assignments/1/TracksDetail.csv')
tD

,Unnamed: 0,trackName,artistName,albumName,populartySong,genres,populartyArtist
0,0,Linus Hasselberg,"Granada, Granada",Lila grusvägen vid Río Genil,35,[],26
1,1,Matisyahu,Youth,Jerusalem,49,['reggae fusion'],56
2,2,Lord Huron,Strange Trails,Fool for Love,83,"['indie folk', 'stomp and holler']",71
3,3,Charlie Cunningham,Minimum,Minimum,64,"['british singer-songwriter', 'indie folk']",53
4,4,Birdy,Live in London,The a Team - Live at the Tabernacle,71,['pop'],67
...,...,...,...,...,...,...,...
955,955,LIAMOO,Broken Hearted,Broken Hearted,58,"['swedish idol pop', 'swedish pop']",52
956,956,Bastille,Bad Blood,These Streets,76,"['metropopolis', 'modern rock', 'pop', 'pop ro...",74
957,957,Dan Caplen,Love Me the Same,Love Me the Same,74,"['dance pop', 'edm', 'house', 'pop', 'pop danc...",67
958,958,Mac Miller,Donald Trump - Single,Donald Trump,83,"['hip hop', 'pittsburgh rap', 'rap']",82
959,959,Of Monsters and Men,My Head Is An Animal,Little Talks,81,"['folk-pop', 'metropopolis', 'modern alternati...",67

In [ ]:
# Remove first column
tD.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
# Remove artistName and trackName columns
tD.drop(['artistName', 'trackName'], axis=1, inplace=True)

In [ ]:
# Rename albumName to track
tD.rename(columns={'albumName':'track'}, inplace=True)

In [ ]:
# Merge Tracks and TrackDetails on track column
merged_df = pd.merge(t, tD, on='track', how='outer')
merged_df

,artist,album,track,Unnamed: 0,populartySong,genres,populartyArtist
0,Linus Hasselberg,"Granada, Granada",Lila grusvägen vid Río Genil,0,35,[],26
1,Matisyahu,Youth,Jerusalem,1,49,['reggae fusion'],56
2,Lord Huron,Strange Trails,Fool for Love,2,83,"['indie folk', 'stomp and holler']",71
3,Charlie Cunningham,Minimum,Minimum,3,64,"['british singer-songwriter', 'indie folk']",53
4,Birdy,Live in London,The a Team - Live at the Tabernacle,4,71,['pop'],67
...,...,...,...,...,...,...,...
1007,MisterWives,Our Own House,Reflections,954,71,"['electropop', 'indie pop', 'indie poptimism',...",60
1008,LIAMOO,Broken Hearted,Broken Hearted,955,58,"['swedish idol pop', 'swedish pop']",52
1009,Dan Caplen,Love Me the Same,Love Me the Same,957,74,"['dance pop', 'edm', 'house', 'pop', 'pop danc...",67
1010,Mac Miller,Donald Trump - Single,Donald Trump,958,83,"['hip hop', 'pittsburgh rap', 'rap']",82
1011,Of Monsters and Men,My Head Is An Animal,Little Talks,959,81,"['folk-pop', 'metropopolis', 'modern alternati...",67

In [ ]:
# List the 10 most popular genres and how many songs they include
s = merged_df['genres'].value_counts()
mpg_count = s[:10]
mpg_count

['metropopolis', 'modern rock', 'pop', 'pop rock']                         72
['swedish pop']                                                            58
[]                                                                         38
['classic swedish pop', 'swedish pop', 'swedish singer-songwriter']        26
['modern rock', 'rock']                                                    22
['dance pop', 'pop', 'pop rap', 'seattle hip hop']                         19
['dance pop', 'edm', 'pop', 'pop dance', 'pop rap']                        16
['neo mellow', 'permanent wave', 'pop rock']                               15
['fotbollslatar', 'swedish idol pop', 'swedish pop', 'swedish pop rap']    14
['swedish indie pop']                                                      13
Name: genres, dtype: int64

In [ ]:
# List all the tracks and their artists in the “electropop“ genre
ePop = merged_df.loc[merged_df['genres'].str.contains('electropop')]
ePop

,artist,album,track,Unnamed: 0,populartySong,genres,populartyArtist
6,Robyn,Body Talk,Dancing On My Own,6,56,"['art pop', 'dance pop', 'electropop', 'europo...",61
66,Loreen,Så mycket bättre 2020 - Tolkningarna,Jag är en vampyr - Så mycket bättre 2020,52,65,"['electropop', 'europop', 'eurovision', 'swedi...",52
186,MisterWives,Never Give Up On Me,Never Give Up On Me,160,71,"['electropop', 'indie pop', 'indie poptimism',...",60
283,Little Jinder,Allting suger,Super 8,246,43,"['electropop', 'swedish electropop', 'swedish ...",42
299,MisterWives,Machine,Machine,259,71,"['electropop', 'indie pop', 'indie poptimism',...",60
301,Betty Who,The Valley,I Love You Always Forever,261,61,"['electropop', 'pop', 'tropical house']",62
342,Hurts,Love Songs 2012 - 55 sange du altid har elsket,Stay,297,73,"['alt z', 'dance pop', 'electropop', 'norwegia...",66
469,Hanna Järver,c'mon,c'mon,420,33,['swedish electropop'],27
489,Teddybears,"Young, Handsome & Fast","Young, Handsome & Fast",438,59,"['electronic rock', 'swedish electropop']",46
542,MisterWives,Our Own House,Not Your Way,491,71,"['electropop', 'indie pop', 'indie poptimism',...",60
549,Tove Styrke,Så mycket bättre 2020 - Tolkningarna,Varje sår söker ett sår,498,51,"['electropop', 'swedish electropop', 'swedish ...",55
569,Miike Snow,Miike Snow,Black & Blue,520,55,"['alternative dance', 'electropop', 'indie roc...",55
589,Jessie Ware,Tough Love,Tough Love,540,65,"['art pop', 'british soul', 'dance pop', 'elec...",60
616,Bishop Briggs,Modern Rock,White Flag,565,75,"['electropop', 'modern alternative rock', 'mod...",62
666,Jonathan Johansson,Aldrig ensam,Aldrig ensam,616,44,"['swedish electropop', 'swedish indie pop', 's...",40
676,Robyn,Body Talk Pt. 2,Indestructible - Acoustic Version,627,56,"['art pop', 'dance pop', 'electropop', 'europo...",61
678,Hanna Järver,So Long,Bara få va enkelt,629,33,['swedish electropop'],27
714,Devlin,Rewind,Rewind,663,53,"['dance pop', 'electropop', 'pop', 'post-teen ...",75
791,Den svenska björnstammen,Förlorare utan chans,Förlorare utan chans,739,63,"['swedish electropop', 'swedish pop']",51
818,Seinabo Sey,Younger,Younger - Acoustic Version,767,51,"['swedish electropop', 'swedish pop', 'swedish...",55
819,MisterWives,Drummer Boy,Drummer Boy,768,71,"['electropop', 'indie pop', 'indie poptimism',...",60
827,Jonathan Johansson,Love & Devotion,Bull City,776,44,"['swedish electropop', 'swedish indie pop', 's...",40
834,MisterWives,Same Drugs,Same Drugs - Chance The Rapper Cover,783,71,"['electropop', 'indie pop', 'indie poptimism',...",60
951,Miike Snow,iii,Genghis Khan,896,55,"['alternative dance', 'electropop', 'indie roc...",55
961,Rebecca & Fiona,Drugstore Lovin’,Drugstore Lovin’,906,45,"['electropop', 'swedish electropop', 'swedish ...",40
1007,MisterWives,Our Own House,Reflections,954,71,"['electropop', 'indie pop', 'indie poptimism',...",60

In [ ]:
# List all the songs by the artist ”Matisyahu“.
mat = merged_df.loc[merged_df['artist'] == 'Matisyahu']
mat

,artist,album,track,Unnamed: 0,populartySong,genres,populartyArtist
1,Matisyahu,Youth,Jerusalem,1,49,['reggae fusion'],56
13,Matisyahu,Akeda,Akeda,13,49,['reggae fusion'],56
237,Matisyahu,Light,We Will Walk,202,49,['reggae fusion'],56
352,Matisyahu,Youth,What I'm Fighting For,307,49,['reggae fusion'],56
758,Matisyahu,Akeda,Watch the Walls Melt Down,706,49,['reggae fusion'],56
774,Matisyahu,Youth,Time Of Your Song,722,49,['reggae fusion'],56